.header {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}

.text {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}

.size-xl {
    font-size: 2rem;
}

.container {
    display: flex;
    padding: 5rem;
    border: 2px white;
    border-radius: 10px;
    justify-content: space-around;
}

.clickable-box {
    padding: 10px;
    border: 2px white solid;
    border-radius: 10px;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.button-text{
    font-size: 3rem;
    margin-left: 1rem;
}

@media screen and (max-width: 700px) {
    div.header{
        font-size: 60px;
        margin-top: 10rem;
    }
    .size-xl {
        font-size: 3rem;
    }
    .container {
        flex-direction: column;
    }
    .button-item {
        width: 100%;
        margin-bottom: 6rem;
    }
    .button-text {
        font-size: 5rem;
    }
    body{
        background-color: aqua;
    }
}


div.header{
    font-size: 60px;
}

@media (prefers-color-scheme: dark) {
    .clickable-box {
        font-family: "Roboto", sans-serif;
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    .clickable-box {
        font-family: "Roboto", sans-serif;
        color: black;
    }
}
